VITE_BASE_URL_API=http://localhost:8080/api/
VITE_ENVIRONMENT=development
VITE_AZURE_ENTRA_CLIENT_ID=
VITE_AZURE_ENTRA_AUTHORITY=
VITE_AZURE_ENTRA_REDIRECT_UI=
VITE_AZURE_ENTRA_SCOPES=
VITE_PRODUCTION=
VITE_PROJECT_NAME=
