VITE_BASE_URL_API=http://localhost:8080/api/
VITE_BASE_URL_SOCKET=http://localhost:8080/
VITE_ENVIRONMENT=development
VITE_AZURE_ENTRA_CLIENT_ID=
VITE_AZURE_ENTRA_AUTHORITY=
VITE_AZURE_ENTRA_REDIRECT_UI=
VITE_AZURE_ENTRA_SCOPES=
VITE_APIM_ACCESS=
VITE_PRODUCTION=false
VITE_PROJECT_NAME=
